body{
	margin: 0;
	font-family: Helvetica, Arial, Courier;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: #6A5ACD;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2 {
	font-family: 'Grenze Gotisch', cursive;
}

header h1 {
	color: white;
	font-size: 50px

}

header img{
    border-radius: 350px;
    width: 300px;
    border: 7px solid #483a94;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;

}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	margin: 40px 0 10px;

}

a{
	color: #6A5ACD;
}
a:hover{
	color: white;
	background-color: #483a94;
}

footer{ 
	background-color: #6A5ACD;
	text-align: center;
	color:white;
	padding :50px;
}

footer p{
	margin: 0px;
}

footer a {
	color:white;
}


