body{
	background-color: lightgrey;
}
h1{
color: teal;
font-size: 30px; 
}

h2{ 
color: red; 
font-size: 20px;
}

h2{ 
Color: green;
}

.big{
font-size: 60px;
}

.uppercase{
text-transform: uppercase;
}

.big.uppercase{
color: navy;
}

h1 span{
color: violet
}
